@using Microsoft.AspNetCore.Http.Extensions
@model Vidos.Services.Models.Cart.ViewModels.CartLayoutViewModel

<div>
    @if (Model.ProductsCount != 0)
    {
        <small class="navbar-text">
            <b>Вашета количка:</b>
            @Model.ProductsCount продукт(а)
            @Model.TotalValue&#1083;&#1074;
        </small>
    }
    <a class="btn btn-sm btn-secondary"
       asp-area="Shopping" asp-controller="Cart" asp-action="Index"
       asp-route-returnurl="@ViewContext.HttpContext.Request.GetEncodedPathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>