<div class="container text-center">
    <div class="content-404">
        <img src="~/images/404.png" class="img-fluid" alt="" />
        <h1>Търсената страница не е намерена!</h1>
        <h2><a asp-action="Index" asp-controller="Home">Обратно към начална страница</a></h2>
    </div>
</div>