<div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">В брой
    </label>
</div>
<div class="form-check">
    <label class="form-check-label">
        <input type="radio" class="form-check-input" name="optradio">С карта
    </label>
</div>