@model IEnumerable<Vidos.Services.Models.Product.ViewModels.AllProductsViewModel>
@{
    ViewData["Title"] = "All";

}

<div class="row">
    <div class="col-sm-12" id="parent">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#filter">
                    Филтрири
                </a>
            </div>
            <div id="filter" class="collapse show" data-parent="#parent">
                <div class="card-body">
                    <select id="BrandsSelector"></select>
                    <button class="btn btn-primary" id="btnFilter">
                        Филтрирай
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section">
    <div id="AllProductsBody" class="container">
        <partial name="_AllProductsPartial" model="@Model"/>
    </div>
</div>
