@using X.PagedList
@using X.PagedList.Mvc.Common
@using X.PagedList.Mvc.Core
@model IEnumerable<Vidos.Services.Models.Product.ViewModels.AllProductsViewModel>

@{
    ViewData["Title"] = "All";
    int taken = 0;
    int itemsToTake = 3;
    int repeatNumber = (int)Math.Ceiling(Model.Count() / (double)itemsToTake);
}

<div class="section">
    <div class="container">
        @for (int i = 0; i < repeatNumber; i++)
        {
            <partial name="/Views/Shared/_AllProductsPartial.cshtml"
                     model="Model.Skip(taken).Take(itemsToTake);" />
            taken += itemsToTake;
        }
    </div>
</div>

@Html.PagedListPager((IPagedList)Model, pageNumber => Url.Action("All", new { pageNumber }),
    new PagedListRenderOptions {
        LiElementClasses = new string[] { "page-item" },
        PageClasses = new string[] { "page-link" }
    })
