@{
    ViewData["Title"] = "About";
}

<div class="jumbotron-fluid">
    <img class="rounded float-right img-fluid" src="~/images/Vidos_Sertif.JPG" height="450" width="300" />
    <div class="text-left lead mark">
        <p>
            <bold class="redText">В</bold> - високо-квалифицирана,<br />
            <bold class="redText">И</bold> - инженерингова,<br />
            <bold class="redText">Д</bold> - дейност,<br />
            <bold class="redText">О</bold> - обучение,<br />
            <bold class="redText">С</bold> - сервиз.<br />
        </p>
    </div>
</div>
