@{
    ViewData["Title"] = "About";
}

<div>
    <div class="text-left">
        <div class="row responsiveText">
            <bold class="redText">В</bold> - високо-квалифицирана,
        </div>
        <div class="row responsiveText">
            <bold class="redText">И</bold> - инженерингова,
        </div>
        <div class="row responsiveText">
            <bold class="redText">Д</bold> - дейност,
        </div>
        <div class="row responsiveText">
            <bold class="redText">О</bold> - обучение,
        </div>
        <div class="row responsiveText">
            <bold class="redText">С</bold> - сервиз.
        </div>
    </div>
    <div>
        <img class="img-responsive" src="~/images/Vidos_Sertif.JPG"/>
    </div>
</div>



<div class="jumbotron">
    <h1>Добре дошли в Нашият сайт за Отопление, Вентилация и Климатизация (OBK)</h1>
</div>
