@model Vidos.Services.Models.Reviews.ViewModels.EditReviewViewModel

@{
    this.ViewData["Title"] = "Delete Review";
}

<h3>Сигурни ли сте, че искате да изтриете този отзив?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Body)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="MyReviews">Обратно</a>
    </form>
</div>
