@model Vidos.Services.Models.Order.ViewModels.OrderCheckoutViewModel

<h2>Поръчай сега!</h2>
<p>Моля въведете вашите детайли</p>

<form asp-action="Checkout" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <h3>Адрес:</h3>
    <div class="form-group">
        <label asp-for="Line1">Ред 1:</label>
        <input asp-for="Line1" class="form-control" />
        <span asp-validation-for="Line1" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Line2">Ред 2:</label>
        <input asp-for="Line2" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Line3">Ред 3:</label>
        <input asp-for="Line3" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="City">Град:</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="State">Област:</label>
        <input asp-for="State" class="form-control" />
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Zip">Зип код:</label>
        <input asp-for="Zip" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Country">Държава:</label>
        <input asp-for="Country" class="form-control" />
        <span asp-validation-for="Country" class="text-danger"></span>
    </div>
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Поръчай" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}